<!DOCTYPE html>
<html>
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Patient Dashboard</h2>

<h3>Book an Appointment</h3>

<form method="POST" action="/book">
  <label>Select Doctor</label>
  <select name="doctor" required>
    {% for d in doctors %}
      <option value="Doctor 1">
        {{ d[1] }} ({{ d[2] }})
      </option>
    {% endfor %}
  </select>

  <label>Date</label>
  <input type="date" name="date" required>

  <label>Time</label>
  <input type="time" name="time" required>

  <button type="submit">Confirm Appointment</button>
</form>

<br>

<a href="/logout">Logout</a>

</body>
</html>
